.tagStyle{
    width: 100%;
    height: 34px;
    background-color: rgba(238, 238, 238, 1);
    position: relative;
    bottom: 0;
    left: 0px;
    text-align: center;
    padding-top: 10px;
}

.tagStyle p{
    font-size: 12px;
}